@import url();

body {
  box-sizing: border-box;
  background-color: white;
  font-family: sans-serif;
  color: bloack;
  padding-top: 3em;
}

form {
  margin-top: 1%;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}



