@import url();

body {
  box-sizing: border-box;
  background-color: white;
  font-family: sans-serif;
  color: bloack;
  padding-top: 3em;
  font-family: 'Dancing Script', cursive;
  background-opacity: 0.2;
  text-align: center;
}

form {
  margin-top: 1%;
}

li {
  list-style-type: none;
  font-size: 1.5em;
  padding: 10px;
}


.done-true {
  text-decoration: line-through;
}